.Tomos{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
}

.Tomos h2{
    text-align: center;
    margin-bottom: 30px;
    color: #1F7493;
    cursor: default;
}


.cartas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cartas .card {
    width: 300px;
    height: auto;
    border: 2px solid #1F7493;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.cartas .card:hover {
   border: 2px solid #FF0000;
   transform: translateY(-3px);
   -webkit-transform: translateY(-3px);
   -moz-transform: translateY(-3px);
   -ms-transform: translateY(-3px);
   -o-transform: translateY(-3px);
}

.cartas .card img{
    border-radius: 6px 6px 0  0;
    -webkit-border-radius: 6px 6px 0  0;
    -moz-border-radius: 6px 6px 0  0;
    -ms-border-radius: 6px 6px 0  0;
    -o-border-radius: 6px 6px 0  0;
     cursor: default;
}

.cartas .card h3, p{
    text-align: center;
    color: #1F7493;
}
.cartas .card .titulo{
    text-align: center;
    font-size: 3vh;
}

.cartas .card .descripcion{
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
    color: #C84F5A;
}

.cartas .card .tecno{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.cartas .card .enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartas .card .enlaces a{
    cursor: default;
}

.cartas .card .enlaces img{
    filter: invert(38%) sepia(74%) saturate(5469%) hue-rotate(225deg) brightness(100%) contrast(96%);
}
.cartas .card .enlaces img:hover{
    filter: invert(38%) sepia(74%) saturate(3500%) hue-rotate(350deg) brightness(100%) contrast(100%);
}

.submenu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.submenu a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    background-color: #6C63FF;
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}
.submenu a:hover {
    background-color: #4E4AE4;
    color: #F0F0F0;
    transform: translateY(-2px);
}


@media (max-width: 900px){
    .Tomos{
        padding-bottom:16vh ;
    }
}