.tomo{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
}

.tomo h2{
    text-align: center;
    margin-bottom: 30px;
    color: #1F7493;
    cursor: default;
}
.card-principal {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.card-principal h2{
    font-size: 2.7rem;
}
.card-principal p{
    font-size: 2rem;
    background: transparent; /* ✅ asegura que no se ponga blanco */
}

.card-principal img {
  max-width: 40%;
  border-radius: 8px;
}

.card-principal .contenido {
  margin-left: 2rem;
}

.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces a{
    cursor: default;
}

.enlaces img{
    filter: invert(38%) sepia(74%) saturate(5469%) hue-rotate(225deg) brightness(100%) contrast(96%);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: default;
}
.enlaces img:hover{
    filter: invert(38%) sepia(74%) saturate(3500%) hue-rotate(350deg) brightness(100%) contrast(100%);
    transform: translateY(-2px);
}

.submenu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.submenu a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    background-color: #6C63FF;
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}
.submenu a:hover {
    background-color: #4E4AE4;
    color: #F0F0F0;
    transform: translateY(-2px);
}
.cartas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cartas .card {
    width: 300px;
    height: auto;
    border: 2px solid #1F7493;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius