.navMobile {
    display: none;
}

.header{
    background: linear-gradient(180deg, #1F7493, #074A62);
    border-radius: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 90%;
    height: 7rem;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav a {
   font-size: 1.3rem;
   text-decoration: none;
   font-weight: 600;
   cursor: default;
}
.L {
    background: linear-gradient(180deg, #505050, #2A2626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.L:hover {
    background: linear-gradient(270deg, #A94646, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span{
    background: linear-gradient(270deg, #313131, #5E5E5E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}
.header p{
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 3rem;
    font-size: 1.7rem;
    background: linear-gradient(270deg, #9B56CB, #6814A3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.header .logo{
    width: 10rem;
    height: 7rem;
    margin-left: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo img {
    width: 100%;
    height: 100%;
}



@media (max-width: 900px){
    .nav{
        display: none;
    }

    .navMobile{
        background: linear-gradient(90deg,#2A2626, #151313);
        width: 90%;
        height: 4rem;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid #1F7493;
        border-radius: 7px;
        margin-bottom: 5px;
        position: absolute;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navMobile a{
        display: flex;
        justify-content:center;
        align-items: center;
        filter: invert(0%) sepia(700%) saturate(90000%) hue-rotate(999deg) brightness(100%) contrast(0%);
    }

    .navMobile a:hover {
        filter: invert(29%) sepia(90%) saturate(1345%) hue-rotate(700deg) brightness(100%) contrast(100%);
    }

    .header{
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .header .logo{
        width: 10rem;
        height: 100%;
    }
}