.redes{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 17px;

}
.redes a{
  cursor: default;
}
.redes a:hover{
  filter: invert(29%) sepia(90%) saturate(1345%) hue-rotate(700deg) brightness(100%) contrast(100%);
}